.button {
  min-width: 280px;
  max-width: 400px;
  width: 100%;

  background-color: $mainButtonColor;
  color: $whiteButtonColor;

  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: $fontBold;
  line-height: 1.5rem;
  text-transform: uppercase;
  border-radius: $buttonBorderRadius;
  padding: 16px;
}
