.progress {
  &__bar {
    display: block;
    margin: 0 auto;
  }
}
progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  max-width: 600px;
  height: 4px;

  background-color: $whiteTransparent;
  border: none;
  border-radius: 8px;
}

progress::-webkit-progress-bar {
  background-color: $whiteTransparent;
  border-radius: 8px;
}

progress::-webkit-progress-value {
  background-color: $whiteButtonColor;
  border-radius: 8px 0 0 8px;
}

progress::-moz-progress-bar {
  background-color: $whiteButtonColor;
  border-radius: 8px;
}
