$backgroundColor: linear-gradient(107.15deg, #66e59b 0%, #29cca3 100%);

$tabletScreen: 744px;
$desktopScreen: 1440px;

$logoWidth: 139px;

$fontSemibold: 600;
$fontBold: 700;

$mainAccentColor: #353538;
$whiteButtonColor: #fff;
$buttonHoverColor: #111212;
$mainButtonColor: #150954;
$whiteTransparent: #ffffff66;

$borderRadius: 8px;
$cardBorderRadius: 24px;
$buttonBorderRadius: 16px;



$transitionDuration: 0.3s;
